<!doctype html>
<html>
	<head>
		<meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="expires" content="0" />

		<meta charset="utf-8" />

		<title>UI5 Application: <%= namespace %></title>

		<script
			id="sap-ui-bootstrap"
			src="resources/sap-ui-core.js"<% if (gte1_120_0) { %>
			data-sap-ui-resource-roots='{
				"<%= appId %>": "./"
			}'
			data-sap-ui-on-init="module:sap/ui/core/ComponentSupport"
			data-sap-ui-compat-version="edge"
			data-sap-ui-frame-options="trusted"<% } else { %>
			data-sap-ui-theme="<%= defaultTheme %>"
			data-sap-ui-resourceroots='{
				"<%= appId %>": "./"
			}'
			data-sap-ui-onInit="module:sap/ui/core/ComponentSupport"
			data-sap-ui-compatVersion="edge"
			data-sap-ui-frameOptions="trusted"<% } %>
			data-sap-ui-async="true"
		></script>
	</head>

	<body class="sapUiBody">
		<div data-sap-ui-component data-name="<%= appId %>"></div>
	</body>
</html>
